<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>WhatsApp Web</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
  <script src="angular-1.6.6/angular.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-controller="myWhats">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#"><i class="fa fa-user"></i><span>{{" "+nombreUser}} </span></a><input ng-model="id" type="hidden" class="form-control">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon pull-left"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav navbar-sidenav w3-left" id="exampleAccordion" >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <li class="nav-item dropdown" ng-hide="inputSearch">
              <a  class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-fw fa-ellipsis-v text-white"></i>
                  <span class="d-lg-none">Opciones
                    <span class="badge badge-pill badge-warning">3</span>
                  </span>
                  <span class="indicator text-warning d-none d-lg-block">
                    <i class="fa fa-fw fa-circle"></i>
                  </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                  <a class="dropdown-item" href="#">
                    <span class="text-black">
                      Perfil

                    </span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                    <span class="text-black">
                      Configuración
                    </span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">
                    <span class="text-black">
                      Cerrar sesión
                    </span>
                  </a>
                </div>
              </li>
            </ul>
          
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Buscador">
          <div class="card-footer small text-muted">
              <i class="fa fa-fw fa-search text-white" ng-hide="iconSearch"></i>
        	<div class="input-group" ng-hide="inputSearch">
    			<span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input id="email" type="text" class="form-control" ng-model="search" placeholder="Buscar Contacto">
  		</div>
      </div>
    </li>
    <li ng-repeat="c in contactos | filter:search" class="nav-item w3-center" data-toggle="tooltip" data-placement="right" ng-click="showMessage(id,c.idUsuario)" >
          <a class="nav-link" >
            <i class="fa fa-user" ></i>
            <input type="hidden" value="{{c.idUsuario}}">
            <span class="nav-link-text">  {{c.nombre}}</span>
          </a>
        </li>
        </ul>
        
      <ul class="navbar-nav sidenav-toggler " ng-click="hideSearch()">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
        
      </ul>
        
    </div>
  </nav>
  <div class="content-wrapper" >
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <div class="row" ng-hide="hideWhats">
          <div class="col-md-12 w3-center w3-padding-32 w3-opacity" >
              <img class="" src="Whats.png" height="400px" width="400px">
          </div>
      </div>
      <!-- Area Chart Example-->
      <div class="card mb-3" ng-hide="message">
        <div class="card-header">	
         <div class="row">
         			<div class="col-md-8">
         				<i class="fa fa-user w3-text-blue"></i> {{contactoName}} 
                                        <input type="hidden" ng-model="contactoId" >
         			</div>
         			<div class="col-md-4">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
							<input ng-model="searchMessage" type="text" class="form-control" placeholder="Buscar Mensajes">
						</div>
        			</div>
         		</div>
        </div>
        <div class="card-body">
          	<div class="row" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
          		<div id="Layer1" style="width:100%; height:400px; overflow: scroll;"><br>
                            <div class="container">
                                <div ng-repeat="m in mensajes | filter:searchMessage" class="row w3-red w3-padding-16">
                                    <div ng-hide="hideM1" class="col-md-6 w3-center">
                                        {{m.mensaje.texto}}
                                    </div>
                                    <div ng-hide="hideM2" class="col-md-6 w3-center">
                                        {{m.mensaje.texto}}
                                    </div>
                                </div>
                            </div>
                        </div>
          	</div>
        </div>
        <div class="card-footer small text-muted">
        	<div class="input-group">
    			<span ng-click="enviarMensaje($scope.messageBox)" class="input-group-addon"><i class="fa fa-send w3-text-blue"></i></span>
    			<input ng-model="messageBox"  type="text" class="form-control"  placeholder="Escribe un mensaje aqui">
  			</div>
  		</div>
      </div>
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © WhatsApp 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header w3-red">
            <h5 class="modal-title" id="exampleModalLabel">Estas seguro de Cerrar Sesion?</h5>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" ng-click="closeSession()">Salir</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>
<script>
    /*
        $.post("Consultas",{tipo:"s"},function(data){
            if(data.result==true){
                alert("jiji");
            }
        });
    */
	var app = angular.module('myApp',[]);
	
	app.controller('myWhats', function($scope, $http, $location, $window, $timeout, $interval){
            $scope.messageBox = "";
            //Obtener Sesion Id
                $http.post("Consultas",{
                    tipo:"obtenerId"
                }).then(function(response) {
                    //console.log(response);
                        $scope.idUsuario = response.data.usuario[0].idUsuario;
                        $scope.nombreUser = response.data.usuario[0].nombre;
                        $scope.user = response.data.usuario;
                        console.log($scope.user);
                        $scope.id = $scope.idUsuario;
                        });
                //
                 $timeout(function () {
                    $http.post("Consultas",{
                        tipo: "contactos",
                        idSession: $scope.id
                    }).then(function(response) {
                        $scope.contactos = response.data.contactos;
                        console.log($scope.contactos );
                        });
		}, 1000);
		
                $scope.iconSearch = true;
                $scope.inputSearch = false;
                $scope.hideSearch = function(){
                    $scope.search = "";
                   if($scope.iconSearch == true){
                       $scope.iconSearch = false;
                   }else
                       $scope.iconSearch = true;
                   if($scope.inputSearch == false){
                       $scope.inputSearch = true;
                   }else
                       $scope.inputSearch = false;
                };
                //Mostar Mensajes 
                $scope.hideWhats = false;
                $scope.message = true;
                $scope.showMessage = function(idA,idB){
                $scope.messageBox = "";
                $scope.searchMessage ="";
                $http.post("Consultas",{
                    tipo: "mensajes",
                    idA: idA,
                    idB: idB
                }).then(function(response) {
                    $scope.contactoName = response.data.contacto[0].nombre;
                    $scope.contactoId = response.data.contacto[0].idUsuario;
                        $scope.hideWhats = true;
                        $scope.message = false;
                    });
                
                
                $interval(function () {
		$http.post("Consultas",{
                    tipo: "mensajes",
                    idA: idA,
                    idB: idB
                }).then(function(response) {
                    console.log(response);
                    $scope.mensajes = response.data.mensaje;
                    if(response.data.mensaje.idUsuario == $scope.id){
                        
                        $scope.hideM1 = true;
                        $scope.hideM2 = false;
                    }
                     else{
                        $scope.hideM1 = false;
                        $scope.hideM2 = true;
                     }   
                    });
	  	}, 5000);
                
                };
                
                
                //Cerrar Sesion
                $scope.closeSession = function(){
                    $http.post("Consultas",{
                    tipo: "cerrarSesion"
                }).then(function(response) {
                    $scope.regresar = response.data.result;
                    if($scope.regresar == true)
                        $window.location.href = "login.html";
                        });
                };
                
                $scope.enviarMensaje = function(messageBox){
                    if($scope.messageBox != ""){
                        $http.post("Consultas",{
                            tipo: "enviarMensaje",
                            mensaje:$scope.messageBox,
                            idA: $scope.id,
                            idB:$scope.contactoId
                        }).then(function(response) {
                                $scope.regresar = response.data.result;
                                if($scope.regresar == true)
                                    $window.location.href = "login.html";
                            }); 
                    }
                  
                };
	});
	
</script>